*, *::after, *::before{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

.main{
    height: 100vh;
    width: 100vw;
}

.header{
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.header__title{
    font-size: 3rem;
}

.products{
    height: 100vh;
    width: 100%;
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
}

.products__product{
    height: 40rem;
    width: 40rem;
    background: #FACBEA;
    padding: 1rem;
    border-radius: 1.5rem;
}

.product__header{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__h3{
    font-size: 2rem;
    color: #BC7AF9;
}

.product__figure{
    width: 100%;
    height: 26rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product__paragraph{
    height: 10rem;
    width: 100%;
    font-size: 1.5rem;
    color: #BC7AF9;
}